

body{
    font-family: 'Lato', sans-serif;    
    background-color: #212121;
    color: #fff;
    outline: none !important;
}

/*Start nav*/
nav{
    background: rgba(0, 0, 0, 0.5);
    transition: .3s;
    padding: 1px;
}

nav  .navbar-brand img{
    height: 100px;
}

nav ul li:not(:last-of-type){
    margin-right: 30px;
}

nav ul li a{
    position: relative;
    color: #fff ;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px ;
}

nav li a::after {
    position: absolute;
    content: " ";
    top: 30px;
    left: 10px;
    height: 2px;
    width: 0px;
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 100%);
    transition: .3s;
}

nav ul li .active,
nav ul a:hover{
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s;
}

nav li a:hover:after{
    width: 40px;
}

nav li .mode{
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    transition: .5s;
}

nav li .mode:hover{
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

nav .navbar-toggler{
    outline: none;
}

nav .navbar-toggler span{
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    transition: .3s;
}

nav .navbar-toggler .two{
    margin: 7px 0;
}

nav .navbar-toggler .top{
    transform: rotate(-45deg) translate(-3px, 10px);
}

nav .navbar-toggler .bottom{
    transform: rotate(45deg) translate(-3px, -10px);
}

nav .navbar-toggler .hidden{
    opacity: 0;
}


/*End nav*/

/*Start header*/
.header{
    position: relative;
    height: 720px;
    width: 100%;
}

.header .carousel-item,
.header .carousel-inner,
.header .carousel {
    height: 100%;
}

.header .carousel-item{
    background-size: cover;
    background-position: center center;
}

.header .carousel-item img{
    width: 100%;
    height: 900px;
    filter: brightness(.4);
}

.header .info{
    position: absolute;
    top: 15%;
    left: 2%;
    background: linear-gradient(145deg, rgba(255,166,46,1) 10%, rgba(234,77,44,1) 90%);
    -webkit-background-clip: text;
    width: 100%;
    height: 100%;

}


.header .info .title{
    margin-left: 120px;
    margin-top: 100px;

}

.header .info h2{
    font-size: 40px;
    font-weight: 550; 
    background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .info p{
    font-size: 25px;
    margin-left: 15px ;
    font-weight: 400; 
    margin-top: -15px ;
    margin-bottom: 20x;
}

.header .info span {
    color: #fff;
}

.header .info .cv{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(255,166,46);
    color: rgb(255,166,46) ;
    padding: 8px 8px;
    cursor: pointer;
    margin-left: 100px;
}

.header .cv:hover{
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
    color: #fff;
    transition: .5s;
}

.header .info i{
    font-size: 15px;
}

/* start social media bar*/
.header .social-media{
    flex-direction: column;
}

.header .social-media >div{
    margin-top: 10px;
    font-size: 20px;
    width: 100px;
    cursor: pointer;
}

.header .social-media i{
    color: white;
    font-size: 18px !important;
}

.header .social-media .line{
    width: 3px;
    height:180px;
    margin-left: 7px;
    background-color: #fff;
}

.header .social-media i:hover{
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* end  social media bar*/


/*End header*/


/*Start services*/

.services .serv {
    padding: 20px 15px;
    cursor: pointer;
    color: #fff;
}

.services .serv .detail h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.services .serv i{
    font-size: 35px;
    margin-bottom: 10px;
}

.services .serv p{
    font-size: 14px;
}

.services .serv:hover {
    background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s;
}

/*End services*/


/*Start skills*/
.skills .title {
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.skil-box{
    margin-top: 20px !important;
}

.skill-name{
    font-size: 18px;
    margin-left:5px;
    margin-bottom: 5px;
    text-transform: uppercase;

}

.progress{
    width:100%;
    background-color: rgba(126, 126, 126, 0.432);
    height: 7px;
    border-radius: 0%;
}

.progress .progress-bar {
    height: 7px;
    width: 0%;
    background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 250%); 
    transition: all 5s;
}

.skills span .wall{
    margin-left: 50%;
    height: 100%;
    width: 2px;
    background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 150%); 

}

/* .skills .icon img{
    margin-top: -70;
    height: 50px;
    width: 50px;
    margin-right: 50px;
} */

/*End skills*/

/* start portfolio  */
.portfolio ul li{
    background-color: rgba(97, 97, 97, 0.561) ;
    padding: 6px 20px;
    cursor: pointer;
    margin-left: 30px ;
    color: #fff; 
    border-radius: 60px;
    text-transform: uppercase;
    display: inline-block;
}

.portfolio  ul .active,
.portfolio  ul li:hover{
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
    color: #fff;
    transition: .5s;
} 


.portfolio .box{
    height: 250px;
    position: relative;
    overflow: hidden;
}



.portfolio img{
    height: 100%;
    width: 100%;
}

.portfolio .box .info{
    position: absolute;
    background-color: #14141494;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(250px); 
    transition: 1s;
    color: #fff;
}

.portfolio .box:hover .info{
    transform: translateY(0); 
}


.portfolio .box  .info ul li {
    color: rgb(51, 51, 51);
    background: #fff;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;  
    border-radius: 5px; 
    font-weight: 700; 
}


.portfolio .box  .info .link{
    margin-top: 50px;
}

.portfolio .box  .info .link a{
    color: #fff;
    background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 90%);
    padding: 10px 10px;
    font-size: 25px;
    text-transform: capitalize;
    border-radius: 5%;

}

.portfolio .box  .info a i{
    margin-left: 5px;
}


.portfolio .title {
    background-color: #41414181;
}

.portfolio .title h3{
    font-size: 20px;
    padding-top: 5px;
    font-weight: 600;
    color: #fff;
}

.portfolio .title span{
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 3px;
    background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 150%);
    
} 

.portfolio .title p{
    font-size:12px;
    padding-top: 0px auto;
    font-weight: 500;
    padding-bottom: 10px;
    color: rgb(199, 199, 199);
    

}

/* .portfolio .more{
    display: none;
} */


.portfolio .view{
    background-color: rgba(97, 97, 97, 0.561) ;
    border: none ;
    padding: 6px 20px;
    cursor: pointer;
    margin-top: 30px ;
    color: #fff; 
    border-radius: 10px;
    text-transform: uppercase;
    outline: none ;

}

.portfolio .view:hover{
    background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 90%);
    transition: .5s;
}

/* end portfolio  */



/*Start contact*/

.contact textarea,
.contact input{
    /* background: transparent !important; */
    border: none !important; 
	font-size: 22px !important;
	margin-top: 30px;
    background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 50%);
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
	/* width: 100%; */
	border-bottom: 1px solid rgb(255,166,46)!important; 
    /* outline: none; */ 
}

form .form-control::placeholder{
    background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

form textarea{
    height: 150px !important;
}


.contact .logo img{
    height: 170px;
}

.contact h1 {
    font-size:45px;
    background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-bottom: 0%;
}

.contact  .service{
    font-size: 20px;  
    line-height: 50%;
    font-weight: 400; 
}

.contact p span{
    background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 300%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.contact .scoial-media a i{
    font-size: 20px;
    margin-left: 20px;
    color: #212121 ;
    border-radius: 55%;
    padding: 10px ;
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
}

.contact .scoial-media a i:hover{
    background: linear-gradient(145deg,rgba(234,77,44,1) 10%, rgba(255,166,46,1) 0%);
}

.contact .mail{
    font-size: 20px;
    cursor: pointer;
} 

.contact .mail a{ 
    color: #fff;
} 

.contact .mail i{
    font-size: 18px;
} 

.contact .mail a:hover{
    color: rgb(255,166,46);
    transition: .5s;
} 



/*End contact*/

/*Start footer*/
footer p{
    margin: 0;
    font-size: 17px;
    line-height: 26px;
}
/*End footer*/

/*button up*/
.up{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none !important;
    display: none;
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 100%);

}

.up:hover{
    background: linear-gradient(145deg, rgba(234,77,44,1) 100%, rgba(255,166,46,1) 100%);

}




/*Start framework*/
.heading{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.heading h2{
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.heading span{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 3px;
    background-color: #fff;
}
ul{
    list-style: none;
    padding: 0;
}

a{
text-decoration: none !important;
}


/* media query */
@media(max-width:991px){
    nav ul li a{
        display: inline-block !important;
        margin-bottom: 15px;
    }

    .header .info .title{
        margin-left: 80px;
        margin-top: 80px;
    }


    nav li a::after {
        left: 1px;
    }

    .contact h1{
        font-size: 25px;
        margin-bottom: 5px;
    }

    .contact .service{
        font-size: 15px;
    }
}
@media(max-width:767px){
    .header {
        width: 100% !;
    }
    .header .info{
        width: 70%;
        padding: 0 200px;
    }

    .header .info .social-media{
        display: none;
    }

    .header .info .title{
        margin-left: -130px;
        width: 500px;
    }
    
    .header .title h2 {
        font-size: 30px;
        margin-left: -50px;
    }
    
    .header .title p {
        font-size: 15px;
        margin-left: -300px;
        margin-top: -10px;
        text-align: center;
    }
    
    .header .title .cv{
        margin-left: 50px;
        font-size: 12px ;
    }

    .header .title .cv i{
        font-size: 12px ;
    }


    .portfolio .menu .btn{
        font-size: 10px;
        padding: 5px;
        border-radius: 15px;
        margin-left: 5px;
    }
    
    .contact .info:nth-of-type(2) {
        border: none !important;
    }

    .heading h2 {
    font-size: 35px;
    }

}