body{
  font-family: 'Lato', sans-serif;    
  background-color: #212121;
  color: #fff;
}

/* Start Navbar */
.navbar {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
  height: 50px;   
}

nav ul li:not(:last-of-type){
  margin-right: 30px;
}

nav ul li a{
  position: relative;
  color: #fff ;
  text-transform: uppercase;
  font-size: 15px;
  padding: 12px ;
}

nav li a::after {
  position: absolute;
  content: " ";
  top: 30px;
  left: 10px;
  height: 2px;
  width: 0px;
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgb(234, 145, 44) 100%);
  transition: .3s;
}

nav ul li .active,
nav ul a:hover{
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgb(234, 145, 44) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav li a:hover:after{
  width: 40px;
}

nav .nav-mode .mode{
  background: linear-gradient(145deg,rgb(255, 130, 46) 19%, rgb(255, 182, 46) 250%);
  color: #ffffff;
  padding: 5px;
  margin-top: 8px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

nav .nav-mode .mode:hover{
  background: linear-gradient(145deg, rgb(255, 130, 46) 19%, rgb(234, 104, 44) 100%);
  cursor: pointer;
  transition: .1s ;
}

/* start button mode */
.switch-mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-mode input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-btn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-btn {
  background-color: #f2862e ;
}

input:focus + .slider-btn {
  box-shadow: 0 0 1px #f2862e;
}

input:checked + .slider-btn:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider-btns */
.slider-btn.round {
  border-radius: 34px;
}

.slider-btn.round:before {
  border-radius: 50%;
}
/* end button mode */
nav .navbar-toggler{
  outline: none;
}

nav .navbar-toggler span{
  display: block;
  width: 30px;
  height: 3px;
  background: #fff !important;
  transition: .3s;
}

nav .navbar-toggler .two{
  margin: 7px 0;
}

nav .navbar-toggler .top{
  transform: rotate(-45deg) translate(-3px, 10px);
}

nav .navbar-toggler .bottom{
  transform: rotate(45deg) translate(-3px, -10px);
}

nav .navbar-toggler .hidden{
  opacity: 0;
}

/* End Navbar */

/* Start Slider */

.slider {
  background-color: #DDD;
}

.slider .carousel-inner {
  align-items: center;
  justify-content: left; 
}

.slider .carousel-inner .info {
  position: absolute;
  color: #ffffff;
  z-index: 3;
  max-width: 900px;
  left: 250px;
  top: 200px;
  line-height: 1.5
}

.slider .info h2{ 
  font-size: 50px;
  background: linear-gradient(145deg, rgba(255,166,46,1) 50%, rgba(234,77,44,1) 150%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.slider .info p{ 
  font-size: 32px;
}

.slider .info p span{ 
  font-size: 32px;
  background: linear-gradient(145deg, rgba(255,166,46,1) 50%, rgba(234,77,44,1) 150%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider .info .cont{
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  background: linear-gradient(145deg,rgba(255,166,46,1) 19%, rgba(255,166,46,1) 250%);
  color: #fff ;
  padding: 8px 8px;
  cursor: pointer;
  margin-left: 150px;
}

.slider .info .cont i{
  font-size: 20px;
  margin-right: 5px;
} 

.slider .info i{
  font-size: 15px;
}

.slider .info .cont:hover{
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
  color: #fff;
  transition: .3s;
}

.slider .carousel-inner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
}

.slider .carousel-item {
  background-size: cover;
}

.slider .carousel-one {
  background-image: url('../images/slider-2-min.jpg')
}

.slider .carousel-two {
  background-image: url('../images/slider-1-min.jpg')
}

.slider .carousel-three {
  background-image: url('../images/slider-3-min.jpg')
}

.slider .carousel-four {
  background-image: url('../images/slider-4-min.jpg')
}

.slider .carousel-indicators li {
  height: 8px;
  cursor: pointer;
  
}

@media (max-width: 992px) {
  .slider .carousel-inner .info {
      left: 250px;
      top: 200px;
  }

  .slider .info h2{ 
      font-size: 47px;
  }

  .slider .info p{ 
      font-size: 29px;
  }

  .slider .info p span{ 
      font-size: 29px;
  }

  .slider .info .cont{
      font-size: 17px;
  }
      
  .slider .info.info i{
      font-size: 13px;
  }
}

@media (max-width: 768px) {
  .slider .carousel-inner {
    justify-content: center;
  }

  .slider .carousel-inner .info {
    left: 40px;
    top: 200px;
  }

  .slider .info h2{ 
    font-size: 27px;
  }

  .slider .info p{ 
    font-size: 17px;
  }

  .slider .info p span{ 
    font-size: 17px;
  }

  .slider .info .cont{
      font-size: 10px;
      margin-left:80px;
  }
      
  .slider .info.info i{
      font-size: 8px;
  }
}



/* End Slider */


/*Start services*/

.services .serv {
  padding: 20px 15px;
  color: #fff;
}

.services .serv i{
  font-size: 35px;
  margin-bottom: 10px;
}

.services .serv  h3{
  margin-top: 15px;
  height: 50px;
  background: url("../images/brush.svg");
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
  font-size: 27px;
}


@media(max-width:767px){

  .services .serv  i{
    background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
    padding: 10px ;
    border-radius: 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 25px;
      margin-bottom: 10px;
  }

  .services .serv  h3{
    background: none
  }
  
  .services .serv h3{
      background-position: center center;
      font-size: 18px;
      height: 30px;
  }
  
}

/*End services*/

/*Start skills*/
.skills .title {
  font-size: 50px;
  font-weight: 600;
  background: linear-gradient(145deg,rgb(255, 164, 46) 19%, rgba(255,166,46,1) 250%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.skil-box{
  margin-top: 20px !important;
}

.skill-name{
  font-size: 18px;
  margin-left:5px;
  margin-bottom: 5px;
  text-transform: uppercase;

}

.progress{
  width:100%;
  background-color: rgba(126, 126, 126, 0.432);
  height: 7px;
  border-radius: 0%;
}

.progress .progress-bar {
  height: 7px;
  width: 0%;
  background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 250%); 
  transition: all 5s;
}

.skills span .wall{
  margin-left: 50%;
  height: 100%;
  width: 2px;
  background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 150%); 

}

/* .skills .icon img{
  margin-top: -70;
  height: 50px;
  width: 50px;
  margin-right: 50px;
} */

/*End skills*/

/* start portfolio  */
.portfolio ul li{
  background-color: rgba(97, 97, 97, 0.561) ;
  padding: 6px 20px;
  cursor: pointer;
  margin-left: 30px ;
  color: #fff; 
  border-radius: 60px;
  text-transform: uppercase;
  display: inline-block;
}

.portfolio  ul .active,
.portfolio  ul li:hover{
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
  color: #fff;
  transition: .5s;
} 

.portfolio .box{
  height: 250px;
  position: relative;
  overflow: hidden;
}

.portfolio img{
  height: 100%;
  width: 100%;
}

.portfolio .box .info{
  position: absolute;
  background-color: #14141494;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(250px); 
  transition: 1s;
  color: #fff;
}

.portfolio .box:hover .info{
  transform: translateY(0); 
}

.portfolio .box  .info ul li {
  color: rgb(51, 51, 51);
  background: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 15px;  
  border-radius: 5px; 
  font-weight: 700; 
}

.portfolio .box .info .link{
  margin-top: 50px;
}

.portfolio .box .info .link a{
  color: #fff;
  background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 110%);
  padding: 10px 10px;
  font-size: 17px;
  text-transform: none;
  border-radius: 5%;
  margin: 10px;
}

.portfolio .box .info .link  a:hover{
  background: linear-gradient(145deg,  rgb(234, 130, 44) 0%, rgba(255,166,46,1)  90%);
}

/* .portfolio .box .info .link .open-here:hover{
  color: #fff;
  background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 90%);
  transition: .3s;
} */

.portfolio .box  .info a i{
  margin-left: 5px;
}


.portfolio .title {
  background-color: #41414181;
}

.portfolio .title h3{
  font-size: 20px;
  padding-top: 8px;
  font-weight: 600;
  color: #fff;
}

.portfolio .title span{
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 3px;
  background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 150%);
  
} 

.portfolio .title p{
  font-size:12px;
  padding-top: 0px auto;
  font-weight: 500;
  padding-bottom: 10px;
  color: rgb(199, 199, 199);
  

}

.portfolio .view{
  background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 200%);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 60px ;
  color: #fff; 
  border-radius: 10px;
  text-transform: uppercase;
  outline: none ;
  border: none ;
}

.portfolio .view:hover{
  background: linear-gradient(145deg, rgba(255,166,46,1) 0%, rgba(234,77,44,1) 90%);
  transition: .5s;
}

/* end portfolio  */



/*Start contact*/
.contact textarea,
.contact input{
  border: none;
  font-size: 22px ;
  margin-top: 30px;
  background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgb(234, 136, 44) 50%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid rgb(255,166,46)!important; 
  box-shadow: none !important;
}

form .form-control::placeholder{
  background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgb(234, 130, 44) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form textarea{
  height: 150px !important;
}


.contact .logo img{
  height: 170px;
}

.contact h1 {
  font-size:45px;
  background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 150%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-bottom: 0%;
}

.contact  .service{
  font-size: 20px;  
  line-height: 50%;
  font-weight: 400; 
}

.contact p span{
  background: linear-gradient(165deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 300%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.contact .scoial-media a i{
  font-size: 20px;
  margin-left: 20px;
  color: #212121 ;
  border-radius: 55%;
  padding: 10px ;
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgb(234, 104, 44) 100%);
}

.contact .scoial-media a i:hover{
  background: linear-gradient(145deg, rgb(234, 130, 44) 100%, rgba(255,166,46,1) 100%);
}

.contact .mail{
  font-size: 20px;
  cursor: pointer;
} 

.contact .mail a{ 
  color: #fff;
} 

.contact .mail i{
  font-size: 18px;
} 

.contact .mail a:hover{
  color: rgb(255,166,46);
  transition: .5s;
} 

.contact .submit {
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgb(234, 104, 44) 100%);
  color: #fff;
  border: none ;
  padding: 10px 20px !important;
  cursor: pointer;
  margin-top: 30px ;
  color: #fff; 
  border-radius: 10px;
  outline: none ;
}

.contact .submit:hover {
  background: linear-gradient(145deg, rgb(255, 130, 46) 19%, rgb(234, 104, 44) 100%);
}

/*End contact*/

/*Start footer*/
footer p{
  margin: 0;
  font-size: 17px;
  line-height: 26px;
}
/*End footer*/

/*button up*/
.up{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  display: none;
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 100%);

}

.up:hover{
  background: linear-gradient(145deg, rgb(255, 130, 46) 19%, rgb(234, 104, 44) 100%);

}

/* end button up */

/* social media */
.scoial-media-menu{
  position: fixed;
  right: -110px;
  top: 40%;
  z-index: 99;
  width: 150px;
  flex-direction: column;
  padding: 0 5px;
  font-size: 20px;
}


.scoial-media-menu .menu-item{
  background: linear-gradient(145deg, rgba(255,166,46,1) 19%, rgba(234,77,44,1) 100%);
  transition: 1s;
}

.scoial-media-menu .menu-item:hover{
  transform: translateX(-95px);
  cursor: pointer;
  transition: 1s;
}

.scoial-media-menu .menu-item a{
  display: inline;
}

.scoial-media-menu .menu-item a i{
  font-size: 15px ;
  color: #fff;
  padding: 10px;
}

.scoial-media-menu .menu-item a .text-item{
  display: inline;
}

.scoial-media-menu .menu-item a .text-item{
  color: #fff;
}
/* end social media  */

/*Start framework*/
.heading{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.heading h2{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.heading span{
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 3px;
  background-color: #fff;
}
ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none !important;
}


/* media query */
@media(max-width:991px){
  .contact h1{
      font-size: 25px;
      margin-bottom: 5px;
  }

  .contact .service{
      font-size: 15px;
  }
}

@media(max-width:767px){
  .portfolio .menu .btn{
      font-size: 10px;
      padding: 5px;
      border-radius: 15px;
      margin-left: 5px;
  }
  
  .contact .info:nth-of-type(2) {
      border: none !important;
  }
  .heading h2 {
  font-size: 35px;
  }

}