body{
  font-family: 'Poppins', sans-serif;  
  background-color: #1b1b1b;
  color: #fff;
}
::-webkit-scrollbar {width: 6px; height: 5px; background: #66666600; }
::-webkit-scrollbar-thumb { background-color: #ffa500; -webkit-border-radius: 1ex; }

/* Start Navbar */
.navbar {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
  height: 50px;   
}

nav ul li:not(:last-of-type){
  margin-right: 30px;
}

nav ul li a{
  position: relative;
  color: #fff ;
  text-transform: uppercase;
  font-size: 17px;
  padding: 12px ;
}

nav li a::after {
  position: absolute;
  content: " ";
  top: 30px;
  left: 10px;
  height: 2px;
  width: 0px;
  color:#ffa500;
  transition: .3s;
}

nav ul li .active,
nav ul a:hover{
  color: #ffa500;

}

nav li a:hover:after{
  width: 40px;
}

nav .nav-mode .mode{
  background: #ffa500;;
  color: #ffffff;
  padding: 5px;
  margin-top: 8px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

nav .nav-mode .mode:hover{
  background: #ee9b00;
  cursor: pointer;
  transition: .1s ;
}

/* start button mode */
.switch-mode {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-mode input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-btn {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-btn:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-btn {
  background-color: #ffa500 ;
}

input:focus + .slider-btn {
  box-shadow: 0 0 1px #ffa500;
}

input:checked + .slider-btn:before {
  transform: translateX(26px);
}

/* Rounded slider-btns */
.slider-btn.round {
  border-radius: 34px;
}

.slider-btn.round:before {
  border-radius: 50%;
}
/* end button mode */
nav .navbar-toggler{
  outline: none;
}

nav .navbar-toggler span{
  display: block;
  width: 30px;
  height: 3px;
  background: #fff !important;
  transition: .3s;
}

nav .navbar-toggler .two{
  margin: 7px 0;
}

nav .navbar-toggler .top{
  transform: rotate(-45deg) translate(-3px, 10px);
}

nav .navbar-toggler .bottom{
  transform: rotate(45deg) translate(-3px, -10px);
}

nav .navbar-toggler .hidden{
  opacity: 0;
}

/* End Navbar */

/* Start Slider */
.slider {
  background-color: #DDD;
}

.slider .carousel-inner {
  align-items: center;
  justify-content: left; 
}

.slider .carousel-inner .info {
  position: absolute;
  color: #ffffff;
  z-index: 3;
  max-width: 900px;
  left: 250px;
  top: 200px;
  line-height: 1.5
}

.slider .info h2{ 
  font-size: 50px;
  color: #ffa500;
  font-weight: 500;
}

.slider .info p{ 
  font-size: 32px;
}

.slider .info p span{ 
  font-size: 32px;
  color: #ffa500;
}

.slider .info .cont{
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  background: #ffa500;
  color: #fff ;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 150px;
}

.slider .info .cont i{
  font-size: 20px;
  margin-right: 5px;
} 

.slider .info i{
  font-size: 15px;
}

.slider .info .cont:hover{
  background: #ee9b00;
  color: #fff;
  transition: .3s;
}

.slider .carousel-inner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 2;
}

.slider .carousel-item {
  background-size: cover;
}

.slider .carousel-one {
  background-image: url('../images/slider-2-min.jpg')
}

.slider .carousel-two {
  background-image: url('../images/slider-1-min.jpg')
}

.slider .carousel-three {
  background-image: url('../images/slider-3-min.jpg')
}

.slider .carousel-four {
  background-image: url('../images/slider-4-min.jpg')
}

.slider .carousel-indicators li {
  height: 8px;
  cursor: pointer;
  
}

@media (max-width: 992px) {
  .slider .carousel-inner .info {
    left: 250px;
    top: 200px;
  }

  .slider .info h2{ 
      font-size: 47px;
  }

  .slider .info p{ 
      font-size: 29px;
  }

  .slider .info p span{ 
      font-size: 29px;
  }

  .slider .info .cont{
      font-size: 17px;
  }
      
  .slider .info.info i{
      font-size: 13px;
  }
}

@media (max-width: 768px) {
  .slider .carousel-inner {
    justify-content: center;
  }

  .slider .carousel-inner .info {
    left: 40px;
    top: 200px;
  }

  .slider .info h2{ 
    font-size: 27px;
  }

  .slider .info p{ 
    font-size: 17px;
  }

  .slider .info p span{ 
    font-size: 17px;
  }

  .slider .info .cont{
      font-size: 10px;
      margin-left:80px;
  }
      
  .slider .info.info i{
      font-size: 8px;
  }
}
/* End Slider */

/*Start skills*/
.skills .title {
  font-size: 30px;
  font-weight: 400;
  color: #ddd;
  margin-bottom: 20px;
}

.skil-box{
  background-color: #1b1b1b;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 10%;
  text-align: center;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  height: 75%;
  margin-bottom: 30px;
  cursor: pointer;
  border-radius: 5%;
}

.skil-box:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.skil-box:hover{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
  background: linear-gradient(120deg, #1d1d1d 19%, #1f1f1f 50%);
  transition: all 1s;
}

.skil-box img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.skil-box .skill-name{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

/*
.progress{
  width:100%;
  background-color: rgba(126, 126, 126, 0.432);
  height: 7px;
  border-radius: 0%;
}

.progress .progress-bar {
  height: 7px;
  width: 0%;
  background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 250%); 
  transition: all 5s;
}

.skills span .wall{
  margin-left: 50%;
  height: 100%;
  width: 2px;
  background: linear-gradient(165deg, rgba(255,166,46,1) 30%, rgba(234,77,44,1) 150%); 
} */


@media(max-width:767px){
  .skills .title {
    font-size: 35px;
  }
  .skil-box img{
    width: 40%;
  }
  .skil-box .skill-name{
    font-size: 12px;
  }
}


/*End skills*/

/* start portfolio  */

.portfolio .info-tag li,
.portfolio .btn-choice li{
  padding: 6px 20px;
  background: #413e46ab;
  cursor: pointer;
  margin: 5px 10px !important;
  color: #fff; 
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
}

.portfolio  .btn-choice .active,
.portfolio  .btn-choice li:hover{
  background: #ee9b00;
  color: #fff;
  transition: .5s;
} 
/* 
.portfolio #design-menu{
  display: none;
}

.portfolio #dev-menu{
  display: none;
}

.portfolio #dev-menu li,
.portfolio #design-menu li{
  background-color: #c8c8c89f ;
  font-size: 13px;
  padding: 4px 15px;
  cursor: pointer;
  margin-left: 30px ;
  color: #fff; 
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
}

.portfolio #design-menu  .activeCat,
.portfolio #dev-menu  .activeCat,
.portfolio #dev-menu li:hover,
.portfolio #design-menu li:hover{
  background-color: #6540a7 ;
} */

.portfolio .box{
  height: 250px;
  position: relative;
  overflow: hidden;
}

.portfolio img{
  height: 100%;
  width: 100%;
}

.portfolio .box .info{
  position: absolute;
  background-color: #1f1f1f63;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(250px); 
  color: #fff;
}

.portfolio .box:hover .info{
  transform: translateY(0); 
  transition: 2s;
}

.portfolio .box  .info ul li {
  color: #fff;
  background: #5c5c5cc4;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 15px;  
  border-radius: 5px; 
  font-weight: 400; 
}

.portfolio .box .info .link{
  margin-top: 60px;
}

.portfolio .box .info .link a{
  color: #fff;
  background: #ffa500;
  padding: 12px 12px;
  font-size: 17px;
  text-transform: none;
  border-radius: 10%;
  margin: 10px;
}

.portfolio .box .info .link a:hover{
  background: #ee9b00;
  transition: .2s;
}

.portfolio .box  .info a i{
  margin-left: 5px;
}


.portfolio .title {
  background-color: #171717;
}

.portfolio .title h3{
  font-size: 20px;
  padding-top: 8px;
  font-weight: 600;
  color: #fff;
}

.portfolio .title span{
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 3px;
  background: #ffa500;
} 

.portfolio .title p{
  font-size:12px;
  padding-top: 0px auto;
  font-weight: 500;
  padding-bottom: 10px;
  color: rgb(199, 199, 199);
}

.portfolio .view{
  background: #ffa500; 
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 60px ;
  color: #fff; 
  border-radius: 10px;
  text-transform: uppercase;
  outline: none ;
  border: none ;
}

.portfolio .view:hover{
  background: #ee9b00;
  transition: .5s;
}
/* end portfolio  */

/*Start services*/
.services .serv {
  margin:  20px 0px;
  cursor: pointer;
  padding: 40px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 60px;
}

.services .serv:hover {
  color: #fff;
  transition: .5s;
}

.serv:after {
  content: '';
  position: absolute;
  bottom: 0 ;
  left: 0;
  width: 100%;
  height: 100%;
  background: #313131;
  border-radius: 5px;
  z-index: -2;
}

.serv:before {
  background-color : #ffa500 ; 
  content: '';
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 0%;
  height: 100%;
  transition: all .5s;
  border-radius: 5px;
  z-index: -1;
}

.serv:hover:before {
  width: 100%;
  bottom: 0px;
}

.serv {
  transform: translateZ(0);
}

.services .serv i{
  margin-right: 15px  ;
  font-size: 30px;
}

.services .serv  h3{
  font-size: 17px;
  margin-top: 12px;
}

@media(max-width:991px){
  .services .serv i{
    margin-right: 8px  ;
    font-size: 15px;
  }
  
  .services .serv  h3{
    font-size: 10px;
    margin-top: 12px;
  }
}

/*End services*/

/*Start contact*/
.contact textarea,
.contact input{
  border: none;
  font-size: 22px ;
  margin-top: 30px;
  background: linear-gradient(165deg, #ffa500 19%, #ffa500 50%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #ffa500; 
  box-shadow: none !important;
}

form .form-control::placeholder{
  background: linear-gradient(165deg, #ffa500 19%, #ffa500 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form textarea{
  height: 150px !important;
}

.contact .logo img{
  height: 170px;
}

.contact h1 {
  font-size:45px;
  color: #ffa500;
  font-weight: 600;
  margin-bottom: 0%;
}

.contact  .service{
  font-size: 20px;  
  line-height: 50%;
  font-weight: 400; 
}

.contact p span{
  color: #ffa500;;
}


.contact .scoial-media a i{
  font-size: 20px;
  margin-left: 10px;
  color: #212121 ;
  border-radius: 15%;
  padding:7px ;
  background: #ffa500;
}

.contact .scoial-media a i:hover{
  background: #ee9b00 ;
  /* color: #fff; */
  transition: .5s;
}

.contact .mail{
  font-size: 20px;
  cursor: pointer;
} 

.contact .mail a{ 
  color: #fff;
} 

.contact .mail i{
  font-size: 18px;
} 

.contact .mail a:hover{
  color: #ee9b00 ;
  transition: .5s;
} 

.contact .submit {
  background: #ffa500;
  color: #fff;
  border: none ;
  padding: 10px 20px !important;
  cursor: pointer;
  margin-top: 30px ;
  color: #fff; 
  border-radius: 10px;
  outline: none ;
}

.contact .submit:hover {
  background: #ee9b00;
}

/*End contact*/

/*Start footer*/
footer {
  font-size: 17px;
  line-height: 26px;
}
/*End footer*/

/*button up*/
.up{
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none !important;
  display: none;
  background: #ffa500;
}

.up:hover{
  background: #ee9b00;
}
/* end button up */

/* social media */
.scoial-media-menu{
  position: fixed;
  right: -110px;
  top: 40%;
  z-index: 99;
  width: 150px;
  flex-direction: column;
  padding: 0 5px;
  font-size: 18px;
}

.scoial-media-menu .menu-item{
  background: #ffa500;
  /* transition: 1s; */
}

.scoial-media-menu .menu-item:hover{
  transform: translateX(-95px);
  cursor: pointer;
  background-color: #ee9b00;
  transition: .8s;
}

.scoial-media-menu .menu-item a{
  display: inline;
}

.scoial-media-menu .menu-item a i{
  font-size: 15px ;
  color: #fff;
  padding: 10px;
}

.scoial-media-menu .menu-item a .text-item{
  display: inline;
}

.scoial-media-menu .menu-item a .text-item{
  color: #fff;
}
/* end social media  */

/*Start framework*/
.heading{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.heading h2{
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.heading span{
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 3px;
  background-color: #ffa500 ;
}
ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none !important;
}

/* media query */
@media(max-width:991px){
  .contact h1{
      font-size: 25px;
      margin-bottom: 5px;
  }

  .contact .service{
      font-size: 15px;
  }

  footer {
    font-size: 14px;
  }
}

@media(max-width:767px){


  .portfolio .menu .btn{
      font-size: 12px;
      padding: 5px;
      border-radius: 15px;
      margin-left: 5px;
  }
  
  .contact .info:nth-of-type(2) {
      border: none !important;
  }
  .heading h2 {
  font-size: 35px;
  }

}